# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Flutter
frontend/.dart_tool/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/build/
frontend/.metadata
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/app/debug/
frontend/android/app/profile/
frontend/android/app/release/
frontend/pubspec.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Misc
*.log
node_modules/
